.dropdown {
    position: relative;
    display: inline-block;    
    &__content {
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 420px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
        z-index: 66;
        right: 0;
        height: calc(100vh - 69px); 
        overflow: auto;
    }
    &__close {
        display: none;
        background-image: url('../img/close.svg');
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        z-index: 2;
        width: 40px;
        height: 40px;
        box-shadow: 1px 1px 4px rgba(128, 128, 128, 0.5);
        border-radius: 0px 3px 3px 0px;
        transform: rotate(-180deg);
        left: -460px;
        top: 16px;
        cursor: pointer;
        background-color: #fff;
        &:hover {
            opacity: 0.7;
        }
    }    
    &__show {
        display: block;
        overflow-y: scroll;
    }
    &__show-close {
        display: block;
    }
    &__wrap {
        position: relative;
    }
    &__wrap-empty {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 32px;
        height: inherit;
        width: inherit;
    }
    &__image {
        width: 56px;
        height: 56px;
        @include bg('contain');
    }
    &__text {
        font-size: 18px;
        line-height: 26px;
        color: #1F1F1F;
        width: 250px;
        margin: 0 auto;
        text-align: center;
    }
    &__title-wrap {
        display: flex;
        align-items: center;
        padding: 34px 16px 19px;
        position: sticky;
        top: 0;
        background-color: #fff;
    }
    &__title {
        font-size: 1rem;
        color: #717171;
    }
    &__list-item {
        height: auto;
        box-shadow: inset 0px 1px 0px #E5E5E5;
        padding: 18px 16px;
        cursor: pointer;
        &--special {
            background-color: #F8F8F8;
        }
        &:hover {
            background-color: #ddd;
        }
    }
    &__list-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__list-btn {
        font-weight: 700;
        font-size: 10px;
        line-height: 14px;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 6px 8px;
        border-radius: 12px;
        &--hot {
            background-color: #D0021B;
        }
        &--new {
            background-color: #30BF60;
        }
        &--web {
            background-color: #F79E1B;
        }
        &--meet {
            background-color: #4CB8BF;
        }
    }
    &__list-date {
        color: #BEBEBE;
        font-size: 13px;
    }
    &__list-title {
        margin: 12px 0;
        color: #1A1A1A;
        font-size: 16px;
        font-weight: 500;
        line-height: 14px;
        text-overflow: ellipsis; 
        overflow: hidden; 
        width: 370px; 
        white-space: nowrap;
    }
    &__list-content {
        color: #999999;
        line-height: 20px;
    }
    &__btn-wrap {
        padding: 16px 24px 24px;
        border-top: 1px #E5E5E5 solid;
        position: sticky;
        z-index: 55;
        bottom: 0;
        background-color: #fff;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__btn {
        text-decoration: none;
        color: #fff;
        line-height: 16px;
        font-weight: 500;
        padding: 12px;
        background-color: #2DBC60;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}