.header {
    width: 100%;
    padding: 16px 0 19px;
    box-shadow: 0px 3px 7px -1px rgba(0,0,0,0.1);
    transition: 0.2s;
    &__fixed {
        position: sticky;
        top: 0;
        left: 0;
        z-index: 10;
        background-color: #fff;
      }
    &__container {
        @include container;
        max-width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__items {
        display: flex;
        align-items: center;
        justify-content: center;
        &--special {
            justify-content: space-between;
            gap: 16px;           
        }        
    }
    &__logo {
        width: 88px;
        height: 33px;
        @include bg('contain');
        cursor: pointer;
    }
    &__icon-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 4px;
        cursor: pointer;
        position: relative;
        &:hover {
            opacity: 0.7;
        }
    }
    &__icon-block {            
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #FF0320;
        top: -10px;
        right: -10px;
        color: #fff;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;  
        &--empty {
            display: none;
        }      
    }
    &__icon {
        width: 24px;
        height: 24px;
        @include bg('60%', 'center');
        border-radius: 50%;
        background-color: #8E8E8E;
        cursor: pointer;
        position: relative;
        &--special {
            width: 8px;
            height: 8px;
            @include bg('contain');
        }
        &--hover:hover {
            background-color: #30BF60;
        }        
    }
}
.active {
    background-color: #30BF60;
}
.remove {
    display: none;
}
.hidden {
    overflow: hidden;
}