*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 14px;
	line-height: 15px;
}

html,
body {
	min-height: 100%;
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
}

body {
	font-size: 1rem;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
::-webkit-scrollbar { 
    width: 3px;
	height: 3px;
    background: rgba(0, 0, 0, 0.05);
}  
::-webkit-scrollbar-thumb {
	border-radius: 100px;
	background: rgba(0, 0, 0, 0.2);	
    height: 176px;
}
