<div class="dropdown">	    
    <div id="close" class="dropdown__close" onclick="closeMenu()"></div>		
    <div id="myDropdown" class="dropdown__content">
       <div class="dropdown__wrap">
            <div class="dropdown__title-wrap">
                <h2 class="dropdown__title">Сповіщення від YouControl</h2>
            </div>
            <div class="dropdown__list">
                <div class="dropdown__list-item dropdown__list-item--special">
                    <div class="dropdown__list-wrap">
                        <div class="dropdown__list-btn dropdown__list-btn--new">оновлення</div>
                        <div class="dropdown__list-date">Сьогодні 29.05.2019</div>
                    </div>
                    <h3 class="dropdown__list-title">Нові функції моніторинга</h3>
                    <p class="dropdown__list-content">Uniquely fashion B2B content for one-to-one web-readiness. Continually embrace.</p>
                </div>
                <div class="dropdown__list-item">
                    <div class="dropdown__list-wrap">
                        <div class="dropdown__list-btn dropdown__list-btn--new">оновлення</div>
                        <div class="dropdown__list-date">28.05.2019</div>
                    </div>
                    <h3 class="dropdown__list-title">Оновленна вкладка судових рішень</h3>
                    <p class="dropdown__list-content">Synergistically aggregate inexpensive value after enterprise e-tailers. Assertively mesh cooperative resources before revolutionary bandwidth. Globally expedite team.</p>
                </div>
                <div class="dropdown__list-item">
                    <div class="dropdown__list-wrap">
                        <div class="dropdown__list-btn dropdown__list-btn--hot">Гаряча новина</div>
                        <div class="dropdown__list-date">28.05.2019</div>
                    </div>
                    <h3 class="dropdown__list-title">Сьогодні YouControl провів зустріч з представниками</h3>
                    <p class="dropdown__list-content">Competently exploit competitive best practices through timely total linkage. Continually e-enable exceptional.</p>
                </div>
                <div class="dropdown__list-item dropdown__list-item--special">
                    <div class="dropdown__list-wrap">
                        <div class="dropdown__list-btn dropdown__list-btn--web">Вебінар</div>
                        <div class="dropdown__list-date"> 21.05.2019</div>
                    </div>
                    <h3 class="dropdown__list-title">Нові функції моніторинга</h3>
                    <p class="dropdown__list-content">Uniquely fashion B2B content for one-to-one web-readiness. Continually embrace.</p>
                </div>
                <div class="dropdown__list-item dropdown__list-item--special">
                    <div class="dropdown__list-wrap">
                        <div class="dropdown__list-btn dropdown__list-btn--new">оновлення</div>
                        <div class="dropdown__list-date">20.05.2019</div>
                    </div>
                    <h3 class="dropdown__list-title">Нові функції моніторинга</h3>
                    <p class="dropdown__list-content">Uniquely fashion B2B content for one-to-one web-readiness. Continually embrace.</p>
                </div>
                <div class="dropdown__list-item">
                    <div class="dropdown__list-wrap">
                        <div class="dropdown__list-btn dropdown__list-btn--meet">Зустріч</div>
                        <div class="dropdown__list-date">15.05.2019</div>
                    </div>
                    <h3 class="dropdown__list-title">Сьогодні YouControl провів зустріч з представниками</h3>
                    <p class="dropdown__list-content">Competently exploit competitive best practices through timely total linkage. Continually e-enable exceptional.</p>
                </div>
            </div>
            <div class="dropdown__btn-wrap">
                <a href="#" class="dropdown__btn">Переглянути всі</a>
            </div>
       </div>
    </div>
</div>