<html lang="@@lang">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
				content="width=device-width, initial-scale=1.0">
	<meta name="description"
				content="@@description">
	<meta name="keywords"
				content="@@keywords">
	<link rel="shortcut icon"
				href="@@favicon1.ico"
				type="image/svg+xml">
	<link rel="shortcut icon"
				href="@@favicon.webp"
				type="image/webp">
	<link rel="shortcut icon"
				href="@@favicon.png"
				type="image/x-icon">
	<link rel="stylesheet"
				href="css/libs.min.css">
	<link rel="stylesheet"
				href="css/style.min.css">
	<title>@@title</title>
	<meta property="og:url" content="https://youcontrol.com.ua/">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Рішення для бізнесу YouControl — повне досьє на кожну компанію України">
	<meta property="og:description" content="YouControl — повне досьє на кожну компанію України. Система дозволяє за хвилину отримати інформацію про компанію або ФОП із понад 180 державних реєстрів. Система YouControl — онлайн-сервіс перевірки компаній.">
	<meta property="og:image" content="https://youcontrol.com.ua/images/open-graph/og-ua.jpg">
	<meta name="description" content="YouControl — повне досьє на кожну компанію України. Система дозволяє за хвилину отримати інформацію про компанію або ФОП із понад 180 державних реєстрів. Система YouControl — онлайн-сервіс перевірки компаній.">
</head>
