<header class="header">
    <div class="header__container">
        <div class="header__items">
            <div class="header__logo --svg__logo">
            </div>
        </div>
        
            <div class="header__items header__items--special">
                <div class="header__icon --svg__noun_loudspeaker"></div>
                <div class="header__icon-wrap">
                    <div class="header__icon --svg__person"></div>
                    <div class="header__icon--special --svg__arrow"></div>
                </div>
                
            </div>
        </div>
    </div> 
    
</header>
