@import 'base/*.scss';
@import 'global/*.scss';
@import '**/_*.scss';
@import '../components/**/*.scss';

.main {
    width: 100%;
    min-height: max-content;
    display: flex;
    gap: 22px;
    background-color: #F6F9FC;
    &__container {
        @include container;
    }
    &__img {
        max-width: 100%;
        padding-top: 30px;
        &--special {
            width: 30%;
        }
    }
    &__paginator {
        width: 288px;
        height: 32px;
        @include bg('contain');
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 24px auto 40px;
    }
}

